@import url("./Auth.css");
@import url("./Colors.css");
@import url("./Navbar.css");
@import url("./Container.css");
@import url("./Dashboard.css");
@import url("./MegaLoader.css");
@import url("./Small.css");

body {
  margin: 0 auto;
  padding: 0;
  overflow-x: clip !important;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
