.nav-container {
  width: "100%";
  height: 60px;
  border-bottom: 1px solid var(--white-primary);
  align-items: center;
}
.nav {
  align-items: center;
}

.nav-logo {
  width: 120px;
  cursor: pointer;
}
.nav-items {
  align-items: center;
  margin-left: 60px;
}
.nav-item {
  margin-left: 50px;
  font-size: 14;
  border: 1px solid transparent;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 400;
}
.nav-item:hover {
  border: 1px solid var(--white-secondary);
}
.nav-item-active {
  background-color: var(--white-secondary);
  border-color: var(--white-secondary);
}
